/Gender.class
/GenericLoadingUtil.class
/Iris.class
/Pokemon.class
/Prg.class
/TitanicP.class
/Type.class
/Category.class
/ColNormalizer.class
/ColumnIris.class
/ColumnPokemon.class
/ColumnTitanic.class
/DistanceIris.class
/DistancePokemon.class
/DistanceTitanic.class
/IColumn.class
/IDataSet.class
/IDistance.class
/IEntity.class
/IMVCModel.class
/IrisColumnNormalizer.class
/KNN.class
/LoadingUtilFactory.class
/MVCModel.class
/Observer.class
/Personnage.class
/PokemonColumnNormalizer.class
/Subject.class
/TitanicPColumnNormalizer.class
/View.class
/FXFactory.class
/PokemonTest.class
